section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

img {
    margin-bottom: 15px;
    shape-outside: circle;
    width: 150px;
    height: 150px;
    padding-top: 50px;
    box-align: center;
}

body {
    padding-top: 3.375rem;
    color: #6c757d;
}

body {
    margin: 0;
    font-family: "Muli", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #6c757d;
}