#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color: seagreen;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

h1 {
    color: black;
    size: 20px;
    padding-top: 50px;
}

body {
    background-color: rgb(0, 195, 255);
    text-align: center;
    padding: 50px;
}

img {
    shape-outside: circle;
    width: 150px;
    height: 150px;
    padding-top: 50px;
}